.home-header {
  width: 100%;
  height: 10vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header > h2 {
  margin: 0px;
}

.home-header > ul {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: "";
}

.home-header > ul > li {
  margin: 0px 15px;
  font-size: 18px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.home-header > ul > li:hover {
  color: grey;
}

.welcome-sec {
  width: 100%;
  height: 70vh;
  background-color: grey;
  background-image: url("../images/gate.jpg");
  background-size: cover;
  background-position: center;
}

.intro-info {
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ii-text-cont {
  flex: 0 0 25%;
  height: 80%;
  margin: 0px 5px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ii-text-cont > p {
  margin-top: 3px;
  font-size: 15px;
  color: #353839;
  padding: 0px 20px;
}

.intro-image-sec {
  width: 100%;
  height: 35vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image-sec > img {
  object-fit: cover;
  flex: 0 0 10%;
  width: 17%;
  height: 90%;
  margin: 0px 5px;
  transition: ease-in-out 0.5s;
}

.intro-image-sec > img:hover {
  opacity: 0.9;
  border: 0.5px solid grey;
}

.intro-image-cont {
  flex: 0 0 30%;
  height: 80%;
}

.home-about-us {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-us-text {
  width: 100%;
  flex: 0 0 30%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-us-text > h1 {
  margin-bottom: 25px;
  font-size: 40px;
}

.home-about-us-text > p {
  text-align: justify;
  white-space: normal;
  width: 60%;
  font-size: 18px;
}

.home-our-detail {
  width: 100%;
  flex: 0 0 30%;
  background-color: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-our-detail > ul {
  flex: 0 0 23%;
  height: 90%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-our-detail > ul > h1 {
  margin: 10px 0px;
  width: 59%;
  font-size: 25px;
}

.home-our-detail > ul > li {
  color: #303030;
  text-align: justify;
  width: 55%;
}

.home-footer {
  width: 100%;
  height: 30vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-footer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .home-header > h2 {
    font-size: 18px;
  }
  .home-header > ul {
    display: none;
  }

  .welcome-sec {
    height: 70vh;
  }

  .intro-info {
    flex-direction: column;
    height: 50vh;
    background-color: "";
  }

  .ii-text-cont {
    width: 90%;
    flex: 0 0 20%;
    margin: 10px 0px;
    background-color: white;
    justify-content: center;
  }

  .ii-text-cont > h2 {
    font-size: 16px;
  }

  .ii-text-cont > p {
    padding: 0px 20px;
    text-align: center;
    font-size: 15px;
    color: #303030;
  }

  .intro-image-sec {
    height: 70vh;
    flex-direction: column;
  }

  .intro-image-sec > img {
    width: 90%;
    height: 32%;
    flex: 0 0 5%;
    margin: 5px 0px;
    border-radius: 10px;
  }

  .home-about-us {
    height: 100vh;
    width: 100%;
    background-color: "";
  }

  .home-about-us-text {
    flex: 0 0 60%;
    background-color: "";
  }

  .home-about-us-text > h1 {
    font-size: 25px;
  }

  .home-about-us-text > p {
    width: 90%;
    text-align: justify;
    font-size: 15px;
    padding: 0px 10px;
    color: #303030;
    overflow: hidden;
  }

  .home-our-detail {
    flex: 0 0 30%;
    background-color: "";
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .home-our-detail > ul {
    flex: 0 0 100%;
    width: 95%;
    background-color: "";
  }

  .home-our-detail > ul > li {
    font-size: 15px;
    color: #303030;
  }
}
