.home-header {
  width: 100%;
  height: 10vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header > h2 {
  margin: 0px;
  font-family: sans-serif;
  color: "";
  display: none;
}

.home-header > ul {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: "";
}

.home-header > ul > li {
  margin: 0px 15px;
  font-size: 18px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.home-header > ul > li:hover {
  color: grey;
}

.welcome-sec {
  width: 100%;
  height: 90vh;
  background-color: grey;
  background-image: url("../images/gate.jpg");
  background-size: cover;
  background-position: center;
}

.welcome-intro {
  width: 100%;
  height: 60vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wi-text {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "";
}

.wi-text > h2 {
  font-weight: bolder;
}

.wi-text > h2:nth-child(2) {
  color: "";
}

.wi-text > p {
  margin-top: 7px;
  font-size: 15px;
  color: #353839;
  text-align: center;
}

.wi-images {
  width: 50%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wi-images > img {
  flex: 0 0 30%;
  width: 30%;
  height: 70%;
  border-radius: 20px;
  margin: 5px;
}

.home-about-us {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-us-text {
  width: 100%;
  flex: 0 0 30%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-us-text > h1 {
  margin-bottom: 25px;
  font-size: 40px;
}

.home-about-us-text > p {
  text-align: justify;
  white-space: normal;
  width: 60%;
  font-size: 16px;
  font-family: sans-serif;
}

.home-our-detail {
  width: 100%;
  flex: 0 0 30%;
  background-color: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-our-detail > ul {
  flex: 0 0 23%;
  height: 90%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-our-detail > ul > h1 {
  margin: 10px 0px;
}

.home-our-detail > ul > li {
  color: #303030;
  text-align: center;
  width: 55%;
}

.our-identity {
  width: 100%;
  height: 80vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-identity > section,
.our-identity > ul {
  height: 80%;
  width: 30%;
  flex: 0 0 35%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-identity > section > img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

.our-identity > ul > div {
  flex: 0 0 15%;
  width: 90%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;
}

.our-identity > ul > div > p {
  color: #353839;
}

.contact-us-sec {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-us-sec > section {
  flex: 0 0 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.contact-us-sec > h2 {
  margin: 0px 0px;
  font-size: 40px;
}

.contact-us-sec > section > div {
  width: 100%;
  flex: 0 0 40%;
  background-color: "";
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-sec > section > div > div {
  flex: 0 0 30%;
  height: 85%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.home-footer {
  width: 100%;
  height: 30vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-footer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-footer > ul > li {
  font-size: 14px;
  color: #444444;
  font-family: sans-serif;
}

.home-footer > ul > h3 {
  color: #353535;
}

@media (max-width: 600px) {
  .home-header > h2 {
    font-size: 18px;
  }
  .home-header > ul {
    display: none;
  }

  .welcome-sec {
    height: 70vh;
  }

  .welcome-intro {
    background-color: whitesmoke;
    height: 70vh;
  }

  .wi-text {
    padding: 0px 20px;
  }

  .wi-text > h2 {
    font-size: 18px;
  }

  .wi-text > p {
    padding: 10px 10px;
    margin-top: 3px;
    font-size: 14px;
  }

  .wi-images {
    width: 100%;
    flex: 0 0 30%;
  }

  .wi-images > img {
    width: 10%;
    flex: 0 0 27%;
    height: 60%;
    object-fit: cover;
  }

  .home-about-us {
    height: 100vh;
    width: 100%;
    background-color: "";
  }

  .home-about-us-text {
    flex: 0 0 60%;
    background-color: "";
  }

  .home-about-us-text > h1 {
    font-size: 25px;
  }

  .home-about-us-text > p {
    width: 90%;
    text-align: justify;
    font-size: 14px;
    padding: 0px 10px;
    color: #353839;
    overflow: hidden;
  }

  .home-our-detail {
    flex: 0 0 30%;
    background-color: "";
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .home-our-detail > ul {
    flex: 0 0 100%;
    width: 95%;
    background-color: "";
  }

  .home-our-detail > ul > li {
    font-size: 14px;
    color: #303030;
  }

  .our-identity {
    height: 75vh;
    flex-direction: column;
    background-color: whitesmoke;
  }

  .our-identity > section {
    flex: 0 0 35%;
    width: 100%;
  }

  .our-identity > section > img {
    width: 80%;
    height: 80%;
  }

  .our-identity > ul {
    flex: 0 0 45%;
    width: 100%;
    background-color: "";
  }

  .our-identity > ul > div {
    flex: 0 0 25%;
    justify-content: center;
    align-items: center;
  }

  .our-identity > ul > div > h2 {
    font-size: 17px;
  }

  .our-identity > ul > div > p {
    font-size: 14px;
    padding: 0px;
    margin-top: 5px;
    text-align: center;
  }

  .contact-us-sec {
    height: 60vh;
  }

  .contact-us-sec > h2 {
    font-size: 22px;
  }

  .contact-us-sec > section {
    flex: 0 0 55%;
    width: 95%;
    background-color: white;
  }

  .contact-us-sec > section > div {
    flex: 0 0 50%;
  }

  .contact-us-sec > section > div > div {
    flex: 0 0 47%;
    height: 90%;
    margin: 0px 3px;
    background-color: whitesmoke;
  }
  .contact-us-sec> section>div>div>span{
    font-size: 15px;
  }
}
